@import url("https://fonts.googleapis.com/css2?family=Faster+One&family=Monoton&family=Rubik+Distressed&family=Sofia&display=swap");
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, black, rgb(30, 38, 114));
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bandName {
  font-family: "Faster One", cursive;
  font-size: 5rem;
  color: aqua;
  text-align: center;
  margin: 0px;
  text-decoration: none;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bassContainer {
  position: relative;
}
img {
  display: block;
  width: 55vw;
  padding: 15px;
  margin: 55px 0px 0px 0;
  border-radius: 5px;
  transition: transform 0.5s ease;
  box-shadow: 0 2.8px 7.2px rgb(255, 255, 255),
    0 9.7px 7.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(247, 244, 244, 0.06),
    0 22.3px 17.9px rgba(245, 239, 239, 0.072),
    0 41.8px 43.4px rgba(238, 167, 167, 0.086),
    0 100px 80px rgba(248, 248, 248, 0.12);
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
}

img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bassContainer:hover .overlay {
  bottom: 0;
  height: 100%;
}

.bass2 {
  padding: 70px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

footer {
  left: 0;
  bottom: 10px;
  width: 100%;
  font-size: 20px;
  color: rgb(245, 245, 245);
  text-align: center;
  margin: 4rem 0 0.5rem 0;
}
.anchor {
  text-decoration: none;
  color: rgb(241, 86, 66);
}
i {
  margin-left: 10px;
}
.fa-linkedin {
  color: rgb(90, 90, 245);
}
.fa-github {
  color: white;
}
.fa-instagram {
  color: rgb(229, 147, 161);
}
.fa-youtube {
  color: red;
}
.fa-spotify {
  color: chartreuse;
}
.fa-tiktok {
  color: cadetblue;
}
.anchorFooter {
  color: skyblue;
  padding-right: 2rem;
}

.anchorFooter:hover {
  color: aqua;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  body {
    max-height: 100vh;
  }
  .bandName {
    font-family: "Faster One", cursive;
    font-size: 3rem;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .anchor {
    padding: 2px;
  }
}
